* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: Roboto;
  font-size: 62.5%;
}

.app {
  display: grid;
  grid-template-rows: fit-content($size-appbar) auto fit-content($size-footer);
  grid-template-areas:
    'appbar'
    'content'
    'footer';
  height: 100%;
}

.appbar {
  grid-area: appbar;
}

.content {
  grid-area: content;
  display: flex;
  background-color: $color-background;

  &__container {
    padding: 3rem;
    max-width: 1280px;
    margin: 2rem auto;
  }
}

.footer {
  grid-area: footer;
}
