* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: Roboto;
  font-size: 62.5%;
}

.app {
  display: grid;
  grid-template-rows: fit-content($size-header) auto fit-content($size-footer);
  grid-template-areas:
    'header'
    'content'
    'footer';
  height: 100%;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  display: flex;
  background-color: $color-background-public;
  margin-top: 1rem;

  &__container {
    padding: 3rem;
    max-width: $breakpoint-xl;
    margin: 2rem auto;
  }
}

.footer {
  grid-area: footer;
}
