/* FLEX */
.rows {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.columns {
  align-items: center;
  display: flex;
  flex-direction: row;
  max-height: 100%;
}

.flex-end {
  justify-content: flex-end;
}

.grow {
  flex-grow: 1;
}

.gapped {
  gap: 2rem;
}

.xs-gapped {
  gap: 0.5rem;
}

.align-self-start {
  align-self: flex-start;
}

/* GRID */
.grid-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
}

/* Text */
.inline-text {
  display: inline-block;
}

.bold {
  &#{&} {
    font-weight: bold !important;
    padding-left: 0.5rem;
  }
}

/* Widths */
.full-max-width {
  &#{&} {
    max-width: 100% !important;
  }
}

.half-max-width {
  max-width: 50%;
}

/* Margins */
.s-margin-top {
  margin-top: 1rem;
}

.m-margin-top {
  margin-top: 4rem;
}
