.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  justify-content: space-evenly;
  padding: 5rem;

  @include phone {
    justify-content: flex-start;
    padding: 1rem;
  }

  &__wave {
    background-color: $color-background-content;
  }

  &__container {
    align-items: flex-start;
    color: $color-secondary-dark;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1.5rem;

    &--contact-details {
      @include phone {
        margin-bottom: 8rem;
      }
    }

    & > a {
      color: $color-secondary-dark;
      padding: 6px 0;
      text-transform: initial;
    }

    &:last-of-type {
      @include phone {
        order: -1;
      }
    }
  }
}
