.contact-request-form {
  &__form-container-box {
    padding: 3rem;
  }

  &__delete-outline-icon {
    color: $color-red-500;
  }

  &__inner-content-box {
    margin-left: 10rem;
    max-width: 50%;
  }

  &__heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
