.table {
  &__head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    &__pagination {
      margin-left: auto;
    }
  }

  & > tbody {
    tr:nth-child(even) {
      background: $color-primary-light;
    }

    tr:hover {
      background: $color-blue-200;
    }

    & tr[class*='selected'],
    & tr[class*='selected']:hover {
      background: $color-blue-200;
    }
  }
}
