.lang-selector {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 2px;
    color: $color-secondary;
  }

  & &__select {
    margin-top: 2px;

    &,
    & > svg {
      color: $color-secondary;
    }
  }
}
