$color-primary: #ffffff;
$color-primary-light: #f5f5f5;
$color-primary-dark: #cccccc;

$color-secondary: #0a789c;
$color-secondary-light: #159ecb;
$color-secondary-dark: #00526c;

$color-text-primary: #2a2a2a;
$color-text-secondary: #ffffff;

$color-background: #f0f3f7;

$color-grey-700: #666666;

$size-appbar: 4.5rem;
$size-footer: 5rem;
