.clerk-translator-details-page {
  &__content-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;

    & &__back-btn {
      color: $color-text-primary;
    }

    &__authorisations-table {
      tr:nth-child(even) {
        background-color: $color-primary-light;
      }

      & &--centered {
        text-align: center;
      }
    }
  }
}
