.contact-request-page {
  & &__grid {
    margin-top: 3rem;

    &__form-container {
      padding: 3rem;
    }

    &__inner-container {
      margin-left: 5rem;
      max-width: 80%;
    }
  }

  &__delete-outline-icon {
    color: $color-red-500;
  }

  &__heading {
    margin-bottom: 3rem;
    margin-top: 5rem;
  }

  & &__lang-pair {
    color: $color-secondary;
    margin-left: 0.5rem;
  }
}
