.dialog {

  &__success {
    .MuiDialog-paper {
      border-top: 1vh $color-green-600 solid;
    }
  }

  &__error {
    .MuiDialog-paper {
      border-top: 1vh $color-red-500 solid;
    }
  }

  &__neutral {
    .MuiDialog-paper {
      border-top: 1vh $color-secondary solid;
    }
  }

}